*,
body {
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  height: 100vh;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-box {
  width: 400px;
  height: 480px;
  /* background-image: url("https://scx2.b-cdn.net/gfx/news/2017/climate.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  background-color: rgba(31, 28, 49, 0.616);
  border-radius: 10px;
  text-align: center;
}
.weather-box .search-box {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-box .search-box .btn{
  width: 10%;
  height: 42px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 0.5px solid rgb(169, 166, 166);
  box-shadow: 9px 10px 11px -1px rgba(0, 0, 0, 0.75);
  background-color: rgb(226, 226, 226);
}
.weather-box .search-box input {
  width: 70%;
  height: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
  border: none;
  padding: 10px;
  border: 0.5px solid rgb(169, 166, 166);
  box-shadow: 9px 10px 11px -1px rgba(0, 0, 0, 0.75);
  background-color: rgb(226, 226, 226);
}
.weather-box .search-box input:focus {
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
}
.weather-box .location-box {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.weather-box .location-box .location {
  color: white;
  font-weight: 500;
  font-size: 28px;
  font-family: monospace;
  text-shadow: 1px 3px rgba(33, 33, 34, 0.5);
}
.weather-box .location-box .time {
  color: rgb(238, 238, 238);
  font-size: 22px;
  font-style: italic;
  text-shadow: 2px 2px rgba(33, 33, 34, 0.5);
}

.weather-box .temp-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: inherit;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 16px;
  box-shadow: 5px 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.05);

  padding: 15px 20px;
  color: white;
  font-size: 60px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50 50 70 0.5);
}
.weather-box .temp-box .weather {
  font-size: 30px;
  font-family: sans-serif;
  color: white;
}
